/* In your global CSS file or in a styled-component */
.generic-node {
    padding: 10px;
    border-radius: 5px;
    background: white;
    border: 1px solid #ddd;
    /* width: 200px; */
  }
  
  .node-content {
    display: flex;
    flex-direction: column;
  }
  
  .node-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .react-flow__node-editor {
    width: 500px;
    height: auto;
  }
  

    